# Ignorar la clave privada SSH
files/id_rsa

# Ignorar el directorio de estado de Vagrant
.vagrant/

# Archivos temporales
*.log
*.swp
*.bak
*.tmp
*~

# Archivos de Ansible cache (fact caching local)
.fact-cache/
